@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Libre+Baskerville&family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100&family=Raleway:wght@100&family=Scheherazade+New:wght@700&family=Work+Sans:wght@100&display=swap');

#visual {
    

    p {
        width: 65%;
        font-size: 5em;
        color: #e8e5e0;
        text-align: center;
        margin: 200px auto;
        font-family: "Libre Baskerville";
    }
}
#speakers {
    width: 1180px;
    margin: 0 auto;

    .inner {
        width: 100%;
        height: 450px;
        margin: 0 auto;
        position: relative;
        
        .info {
            display: inline-block;
            position: absolute;
            top: 40%;
            left: 0;
            transform: translateY(-50%);
            text-align: left;

            h2 {
                font-size: 50px;
                color: #2d4349;
                font-weight: 500;
                letter-spacing: -1px;
                font-family: "Libre Baskerville";

                span {
                    color: #b28157;
                    margin-left: 10px;
                }
            }
            .line {
                width: 122px;
                height: 3px;
                background-color: #b28157;
                margin-top: 22px;
            }
            p {
                font-family: "sans-serif";
                font-size: 18px;
                line-height: 30px;
                font-weight: 500;
                color: #868686;
                font-weight: 100;
                margin-top: 23px;
            }
        }
        .mainPic {
            width: 380px;
            height: 380px;
            display: inline-block;
            position: absolute;
            right: 10%;
            top: 0;
            overflow: hidden;
            

            img {
                width: 100%;
                height: 100%;
            }
            .pic2 {
                z-index: 1;
            }

            
        }
    }
}

#people {
    width: 100%;
    margin: 0 auto;

    .inner {
        width: 1180px;
        margin: 0 auto;

        .wrap {
            position: relative;
            height: 4500px;

            article {
                display: inline-block;
                box-sizing: border-box;
                box-shadow: 10px 10px 5px gainsboro;
                width: 50%;
                height: 680px;
                padding: 0 15px;
                position: relative;
                transition: 0.5s;
                border-radius: 5px;

                .icons::after{
                    display: block;
                    content: "";
                    clear: both;
                }
                .icons {
                    float: left;
                    width: 22px;
                    height: 290px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: absolute;
                    top: 23%;
                    left: 15%;
                    

                    li a {
                        color: #000;
                        font-size: 18px;
                    }
                }
                .pic {
                    width: 410px;
                    height: 500px;
                    overflow: hidden;
                    float: right;
                    margin-bottom: 30px;

                    img {
                        width: 100%;
                        height: 100%;
                        
                    }
                }
            
                .text {
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: 5%;
                    left: 28%;

                    h2 {
                        overflow: hidden;
                        color: #2d4349;
                        font-size: 24px;
                        font-family: "Montserrat";
                        line-height: 26px;
                        letter-spacing: 1.2px;
                    }
                    p {
                        margin: 4px 0 26px;
                        font-family: "Libre Baskerville",serif;
                        font-size: 13px;
                        font-style: italic;
                        color: rgba(134, 134, 134, 0.658);
                        font-weight: 300;
                        line-height: 26px;
                        
                    }
                    a {
                        font-size: 17px;
                        font-family: "Baloo 2"; 
                        color: #b28157;
                        font-weight: 600;
                        letter-spacing: 1.3px;
                    }
                }

                &:nth-of-type(1) {
                    position: absolute;
                    top: 0;
                    left: -7%;
                }
                &:nth-of-type(2) {
                    position: absolute;
                    top: 150px;
                    right: 2%;
                }
                &:nth-of-type(3) {
                    position: absolute;
                    top: 23%;
                    left: -5%;
                }
                &:nth-of-type(4) {
                    position: absolute;
                    top: 30%;
                    right: 2%;
                }
                &:nth-of-type(5) {
                    position: absolute;
                    left: -12%;
                    top: 48%;
                }
                &:nth-of-type(6) {
                    position: absolute;
                    top: 55%;
                    right: 8%;
                }
                &:nth-of-type(7) {
                    position: absolute;
                    bottom: 10%;
                    left: -7%;
                }
                &:nth-of-type(8) {
                    position: absolute;
                    bottom: 150px;
                    right: 2%;
                }

            }

        }
    }

    .bottmPic {
        width: 100%;
        transform: translateY(2px);
    }
}

/*tablet -------------------------------------------*/
@media screen and (max-width:1210px){
    #people {
        width: 100%;
        margin: 0 auto;
    
        .inner {
            max-width: 980px;
            margin: 0 auto;
    
            .wrap {
    
                article {
                    height: 590px;
                   
                    .icons {
                        position: absolute;
                        top: 14%;
                        left: 17%;
                       
                    }
                    .pic {
                        width: 350px;
                        height: 450px;
                    }
                
                    .text {
                        display: block;
                        width: 100%;
                        position: absolute;
                        bottom: 0%;
                        left: 30%;
                    }
                }
    
            }
        }
    }
}
@media screen and (max-width:1028px){
    #people {
        width: 100%;
        margin: 0 auto;
    
        .inner {
            max-width: 780px;
            margin: 0 auto;
    
            .wrap {
    
                article {
                    height: 520px;
                   
                    .icons {
                        position: absolute;
                        top: 12%;
                        left: 15%;
                       
                    }
                    .pic {
                        width: 280px;
                        height: 380px;
                    }
                
                    .text {
                        display: block;
                        width: 100%;
                        position: absolute;
                        bottom: 0%;
                        left: 30%;
                    }
                }
    
            }
        }
    }
}



/*mobile -------------------------------------------*/
@media screen and (max-width:835px){
    #people {
        width: 100%;
        margin: 0 auto;
    
        .inner {
            max-width: 830px;
            margin: 0 auto;
    
            .wrap {
                height: 5600px;
                margin: 0 auto;
    
                article {
                    display: block;
                    height: 600px;
                    width: 100%;
                    position: relative;
                    margin-bottom: 20px;
                    
                   
                    .icons {
                        position: absolute;
                        top: 14%;
                        left: 23%;
                       
                    }
                    .pic {
                        width: 350px;
                        height: 450px;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                
                    .text {
                        display: block;
                        width: 100%;
                        position: absolute;
                        bottom: 0%;
                        left: 29%;
                    }

                   &:nth-of-type(2) {
                       position: absolute;
                       top: 12%;
                       left: 0%;
                       transform: translateX(-5%);
                   }
                   &:nth-of-type(3) {
                       position: absolute;
                       top: 24%;
                       left: 0%;
                       transform: translateX(-5%);
                   }
                   &:nth-of-type(4) {
                       position: absolute;
                       top: 36%;
                       left: 0%;
                       transform: translateX(-5%);
                   }
                   &:nth-of-type(5) {
                       position: absolute;
                       top: 48%;
                       left: 0%;
                       transform: translateX(-5%);
                   }
                   &:nth-of-type(6) {
                       position: absolute;
                       top: 60%;
                       left: 0%;
                       transform: translateX(-5%);
                   }
                   &:nth-of-type(7) {
                       position: absolute;
                       top: 72%;
                       left: 0%;
                       transform: translateX(-5%);
                   }
                   &:nth-of-type(8) {
                       position: absolute;
                       top:84%;
                       left: 0%;
                       transform: translateX(-5%);
                   }

                    
                }
    
            }
        }
    }
}

