#visual {
    .pic {
        h2 {
            letter-spacing: 1.5px;
        }
    }
}
#location {
    width: 100%;
    margin: 100px auto 0;
    
    .inner {
        width: 1180px;
        margin: 0 auto 100px;
        position: relative;
        

        .wrap {
            width: 49%;
            height: 580px;
            float: left;
            h1 {
                font-size: 50px;
                color: #2d4349;
                font-weight: 500;
                letter-spacing: -1px;
                font-family: "Libre Baskerville";
            }

            .lists {
                margin-top: 30px;
                li {
                    padding: 10px 10px;

                    a {
                        i {
                            margin-right: 30px;
                            padding: 5px;
                            width: 40px;
                            height: 40px;
                            color: #b28157e7;
                            background: #e9e6e2;
                            border-radius: 50%;
                            line-height: 40px;
                            font-size: 18px;
                            text-align: center;
                            vertical-align: middle;
                        }
                        span {
                            font-family: "Baloo 2";
                            color: #555;
                        }
                    }
                }
            }
        }

        .contactBtn {
            background-color: #e9e6e2;
            color: #b28157e7;
            padding: 15px 15px;
            margin-top: 80px;
            margin-left: 300px;
            display: block;
            width: 120px;   
            text-align: center;
            font-family: "Baloo 2"; font-weight: 600;
            border-radius: 10px;
        }
    }

    .map {
        float: right;
        width: 49%;
        height: 580px;
        border: 1px solid #555;
    }
    .bottomPic {
        width: 100%;
        transform: translateY(2px);
    }
}

@media screen and (max-width:1179px) {

}